<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>chat app</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
		<param-name>chatpropertyfile</param-name>
		<!--  Name of the chat properties file. It contains the name and description of rooms.
		-->		
		<param-value>chat.properties</param-value>
	</context-param>
  
  <context-param>
    <param-name>details.dir</param-name>
    <param-value>ChatApplication</param-value>
  </context-param>
  <context-param>
    <param-name>catalina.home</param-name>
    <param-value>C:\apache-tomcat-7.0.23\</param-value>
  </context-param>
  	<context-param>
		<param-name>adminEmail</param-name>
		<!-- Add an e-mail address of the administrator of this web site. -->
		<param-value>admin@website.com</param-value>
	</context-param>

	<context-param>
		<param-name>sessionTimeout</param-name>
		<!-- Add time in minutes after which user's session will be expired.
		If user doesn't make any request after provided minutes he will be automatically logged out.
		Default is 30 minutes.

		-->
		<param-value>30</param-value>
	</context-param>

	<context-param>
		<param-name>refreshAfter</param-name>
		<!-- Add time in seconds after which user's browser window will automatically refresh to display
		new messages.
		Default is 10 seconds.
		-->
		<param-value>10</param-value>
	</context-param>

	<context-param>
		<param-name>maxNoOfMessages</param-name>
		<!--  Maximum Number of messages that are stored in a list which is used to store all messages
		in a room. After this limit is reached older messages are removed.
		Default is 25
		-->		
		<param-value>25</param-value>
	</context-param>
	<listener>
		<listener-class>isro.chat.SessionListener</listener-class>
	</listener>
<!-- 
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>isro.chat.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>manageChat</servlet-name>
		<servlet-class>isro.chat.servlet.ManageChatServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>saveInfo</servlet-name>
		<servlet-class>isro.chat.servlet.SaveInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manageChat</servlet-name>
		<url-pattern>/servlet/manageChat</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/servlet/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>saveInfo</servlet-name>
		<url-pattern>/servlet/saveInfo</url-pattern>
	</servlet-mapping>
-->
  <session-config>
		<session-timeout>30</session-timeout>
	</session-config>
  <display-name>UploadAndDownload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>